main {
    height: 80vh;
    background: #BDE5E7;
    border-radius: 0 0 100px 100px;
    transform: translateY(80px);
    
}

footer {
    display: grid;
    height: 20vh;
    background: $blue-noir;
}