div.main {
  height: 60vh;
  background: #bde5e7;
  border-radius: 0 0 100px 100px;
  transform: translateY(90px);
}
div.main2 {
  height: 15vh;
  background: #bde5e7;
  border-radius: 0 0 100px 100px;
  transform: translateY(80px);
}

h4 {
  font-size: 2rem;
  font-family: $title;
}

#newsletter {
  height: 70%;
  background: $blue-fonce;
  width: 80%;
  position: absolute;
  left: 50%;
  bottom: 15%;
  transform: translate(-50%);
  border-radius: 100px 100px 50px 50px;
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-rows: 30% 70%;
  grid-template-areas:
    "title ."
    "form .";
  justify-items: flex-start;
  align-items: center;
  color: #009aa3;
  padding: 40px;
}

.title-news {
  grid-area: title;
  padding: 20px;
  color: #009aa3;
}
.news-inputs {
  grid-area: form;
}

#newsletter form {
  width: 100%;
  height: 100%;
  display: grid;
  justify-items: flex-start;
  align-items: center;
  margin-left: 80px;
  font-size: 1.5rem;
  // padding-left: 20px;
}

#newsletter input {
  border: none;
  background: none;
  border-bottom: 1px solid #009aa3;
  outline: none;
  color: #009aa3;
}
#newsletter input::placeholder {
  color: #009aa3;
  font-family: $title;
}

.check {
  font-size: 1rem;
}

#footer {
  display: flex;
  height: 40vh;
  background: $blue-noir;
  align-items: center;
  color: $bg;
  font-family: $txt;
  font-size: 1rem;
  flex-wrap: wrap;
  padding-top: 40px;
}

.check {
  display: inline-flex;
  cursor: pointer;
  position: relative;
  align-items: center;
}

.check input {
  height: 20px;
  width: 20px;
  border: 1px solid #34495e;
  border-radius: 4px;
  outline: none;
  background-color: #41b883;
  cursor: pointer;
  opacity: 0;
}

.check input:checked + span::before {
  content: "\2713";
  animation: checked 0.6s ease-in-out;
  font-size: 1.3rem;
  color: #41b883;
  position: absolute;
}

.checkmark {
  height: 30px;
  width: 30px;
  border: 1px solid #009aa3;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

.checkmark:hover {
  border: 1px solid #446f72;
}
#copyright {
  padding-top: 25px;
  text-align: center;
  background: $blue-noir;
  color: $bg;
}

#news-btn {
  border-radius: 10px;
  padding: 15px;
  width: 40%;
  text-align: center;
  background: $blue-noir;
  border: none;
  position: absolute;
  bottom: -15px;
  left: 50%;
  transform: translateX(-50%);
}

.news-name-mobile {
  display: none;
}

.news-mail-mobile {
  display: none;
}

.check-mobile {
  display: none;
}

#news-btn:hover {
  background: #34495e;
  cursor: pointer;
}

#footer-head {
  height: 70%;
  width: 100%;
  bottom: 0;
  display: flex;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 15%;
  justify-content: space-around;
  align-items: flex-end;
  flex-wrap: wrap;
  // margin-bottom: -80px;
  // margin: 0 10px 0 10px;
}

#campus-log {
  object-fit: cover;
  width: 15%;
}
footer a {
  color: $bg;
}
footer a:hover {
  text-decoration: underline;
}

footer ul {
  line-height: 15px;
}
// RESPONSIVE //////////

@media screen and (max-width: 768px) {
  #foot-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    font-size: 1.2rem;
  }
  main {
    border-radius: 0;
    height: 90vh;
    transform: none;
  }
  #footer {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 25px 25px 0 0;
  }
  #footer-head {
    display: grid;
    height: 80%;
    width: 100%;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
    grid-template-rows: 20% 1fr 1fr 1fr;
  }
  #campus-log {
    width: 30%;
  }
  .title-news {
    margin: auto;
    font-size: 1.6rem;
    color: #009aa3;
  }
  #newsletter {
    grid-template-columns: 1fr;
    grid-template-rows: 20% 80%;
    width: 90%;
  }
  #newsletter input {
    border: none;
  }
  #newsletter form {
    margin: 0;
    justify-items: center;
    align-items: center;
    height: 100%;
    grid-template-rows: 1fr 1fr 1fr 1fr;
  }
  .news-name {
    display: none;
  }

  .news-mail {
    display: none;
  }
  .news-name-mobile {
    display: inline-flex;
    background: $blue-noir;
    padding: 10px;
    border-radius: 10px;
    width: 80%;
    text-align: center;
    height: 60%;
    margin-bottom: 0;
  }
  .news-name-mobile input {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .news-mail-mobile {
    display: inline-flex;
    background: $blue-noir;
    padding: 10px;
    border-radius: 10px;
    width: 80%;
    text-align: center;
    height: 60%;
  }

  .news-mail-mobile input {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .check {
    display: none;
  }
  .check-mobile {
    display: grid;
    grid-template-columns: 30% 70%;
    font-size: 1rem;
    position: relative;
    width: 100%;
    justify-items: center;
    align-items: center;
  }
  .check-mobile input {
    display: none;
  }

  .check-mobile input:checked + span::before {
    content: "\2713";
    animation: checked 0.6s ease-in-out;
    font-size: 1.8rem;
    color: #41b883;
    position: absolute;
  }
  .checkmark {
    padding: 20px;
    cursor: pointer;
    left: 10px;
  }
  .check-text {
    margin-top: 10px;
    width: 90%;
    cursor: pointer;
  }
}
@media screen and (max-width: 576px) {
  #campus-log {
    width: 40%;
  }
  .check-text {
    margin: 0;
  }
  #news-btn {
    font-size: 1rem;
    width: 80%;
    bottom: 20px;
  }
}
@media screen and (max-width: 320px) {
  .title-news {
    font-size: 1.2rem;
  }

  .checkmark {
    left: 10px;
  }

  .check-text {
    font-size: 0.8srem;
  }
  #newsletter {
    display: flex;
    flex-direction: column;
  }
  .check-mobile {
    display: inline-flex;
  }
  #newsletter form {
    margin: auto;
  }
}

// ANIM

@keyframes checked {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: rotate(360°);
  }
}
